[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FactorAssumptions"]
	path = FactorAssumptions
	url = https://github.com/storopoli/factorassumptions
